$accent: #facb36;
$peat: #dd991d;
$dark: #101311;
$text: #444645;
$flax: #ffeeb7;
$light: #e2e1e1;

html, body {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: $text;
	background-color: $dark;
	min-width: 320px;
	position: relative;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

.button {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: none;
	outline: none;
	color: $accent;
	line-height: 40px;
	letter-spacing: 0.01em;
	border: 2px solid $accent;
	border-radius: 5px;
	padding: 0 40px;
	transition: all .5s ease;
	&:hover {
		background-color: $accent;
		color: #fff;
		outline: none;
	}
	&:focus {
		background-color: darken($accent, 10%);
		color: #fff;
		outline: none;
	}
}

.yellow {
	color: $accent;
}

.peat {
	color: $peat;
}

.h1 {
	font-family: 'Economica', sans-serif;
	font-size: 70px;
	letter-spacing: 0.01em;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.h2 {
	font-family: 'Economica', sans-serif;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	//line-height: 18px;
	margin-bottom: 20px;
	text-align: center;
}

.header {
	position: relative;
	.logo-wrapper {
		overflow: visible;
	}
	.logo {
		background: url(../img/logo.png) no-repeat;
		position: absolute;
		height: 190px;
		width: 190px;
		border: 17px solid $dark;
		border-radius: 50%;
		top: 5px;
		z-index: 1;
	}
	.navbar {
		margin-top: 10px;
		line-height: 60px;
		.active {
			color: $accent;
		}
		&-nav {
			width: 100%;
			justify-content: space-between;
			.nav-item.active .nav-link {
				color: $accent;
			}
			.nav-link {
				white-space: nowrap;
				color: $light;
				font-weight: bold;
			}
		}
	}
	&__icons {
		margin-top: 40px; 
		.fa-shopping-cart, .fa-search {
			display: inline-block;
			font-size: 30px;
			color: $accent;
			height: 25px;
			width: 25px;
			transition: color .5s ease;
		}
		.fa-shopping-cart {
			&:hover {
				color: $light;
			}
		}
		.fa-search {
			font-size: 26px;
			color: #fff;
			margin-left: 15px;
			&:hover {
				color: $accent;
			}
		}
	}
	.search {
		display: none;
		&__input {			
			position: absolute;
			outline: none;
			box-shadow: none;
			border-radius: 15px;
			background-color: $dark;
			border: 1px solid $accent;
			padding: 2px 10px;
			font-size: 16px;
			color: #fff;
			top: 38px;
			left: -260px;
			z-index: 5;
			height: 40px;
			width: 240px;
		}		
	}
}



.firstScreen {
	&>.row, .col-12 {
		padding: 0 !important;
	}
	&__content {
		padding: 205px 10px 190px;
		color: $light;
		background-color: rgba($dark, 0.45);
	}
	&__text {
		margin-right: 100px;
		padding: 10px;
		max-width: 560px;
	}
	&__desc {
		line-height: 36px;
		margin-bottom: 20px;
	}
	&__slide {
		background-size: cover;
		max-height: 640px;
		min-height: 640px;
		outline: none;
		&:hover, &:focus {
			outline: none;
		}
	}
	&__slide-1 {
		background: url(../img/bg-sl-1.jpg) no-repeat 0% 70%;	
		.firstScreen__text {
			background: linear-gradient(transparent, rgba($dark, 0.3) 20%, rgba($dark, 0.3) 80%, transparent);
			text-shadow: 2px 2px 0 $dark;
		}
		.firstScreen__content {
			background-color: rgba($dark, 0.3);
		}
	}
	&__slide-3 {
		background: url(../img/bg-sl-6.jpg) no-repeat 100% 26%;
	}
	&__slide-4 {
		background: url(../img/bg-sl-9.jpg) no-repeat 50% 25%;	
	}
	&__slide-5 {
		background: url(../img/bg-sl-5.jpg) no-repeat 50%;		
	}
}

/* Slick dots */
.slick-dots {
    position: absolute;
    bottom: 45px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;

    z-index: 2;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    background-color: rgba($accent, 0.5);
}
.slick-dots li button:before {    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    content: '';
    text-align: center;
    color: $light;
    transition: background-color .5s ease;
}
.slick-dots li.slick-active button:before {
    background-color: $accent;
}

.services {
	background-color: #f4f4f4;
	color: #0a0a08;
	padding: 95px 0;
	text-align: center;
	&__introduction {
		max-width: 690px;
		margin: 0 auto 55px;
	}
	&__product-img {
		width: 255px;
		height: 255px;
		margin: 0 auto;
		border: 7px solid #d1d1d1;
		border-radius: 50%;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: -14px;
			left: -14px;
			width: 269px;
			height: 269px;
			border: 7px solid #e6e6e6;
			border-radius: 50%;
		}
	}
	&__product-title {
		font-family: "Economica", sans-serif;
		font-size: 34px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 60px;
		padding: 15px 0 10px;
	}
	&__product-img-1 {
		background: url(../img/beans.png) no-repeat 50%;
	}
	&__product-img-2 {
		background: url(../img/capuccino.png) no-repeat 50%;
	}
	&__product-img-3 {
		background: url(../img/toast.png) no-repeat 50%;
	}
}

.menu {
	color: #d5c5b1;
	&__text {
		padding: 90px 0 80px;
		width: 80%;
	}
	&__buttons {
		width: 520px;
		justify-content: space-around;
		margin: 0 auto 30px;
		.menu__button {
			color: $accent;
			border: 2px solid $accent;
			border-radius: 5px;
			padding: 7px 35px;
			cursor: pointer;
			transition: all .5s ease;
			&:hover {
				color: $dark;
				background-color: $accent;
			}
		}
		.menu__active {
			color: $dark;
			background-color: $accent;
		}
	}
	&__card {
		margin: 0 auto;
		width: 75%;
		&-breakfasts, &-beans {
			display: none;
		}
	}
	&__items {
		display: flex;
		flex-direction: column;
	}
	&__item {
		border-top: 1px solid #675956;
		padding: 20px 0 20px;
		margin: 0 auto;
		width: 95%;
		&-row {
			justify-content: space-between;
			align-items: center;
		}
		&-title, &-price {
			font-family: "Economica", sans-serif;
			font-size: 34px;
			letter-spacing: 0.01em;
			line-height: 60px;
			color: #ffeeb7;
			transition: color .5s ease;
			&:hover {
				color: darken(#ffeeb7, 10%);
				cursor: pointer;
			}
		}
		&-desc {
			font-size: 14px;
			line-height: 18px;
			max-width: 200px;
		}
		&-likes {
			font-size: 14px;
			line-height: 15px;
			position: relative;
			transition: color .5s ease;
			&:hover {
				color: darken(#ffeeb7, 10%);
				cursor: pointer;
				&::before {
					transform: scale(1.1);
				}
			}
			&::before {
				content: '';
				background: url(../img/like.png) no-repeat 50%;
				display: block;
				width: 14px;
				height: 13px;
				position: absolute;
				top: 0;
				left: -20px;
			}
		}

	}
	&__row-bottom {
		border-bottom: 1px solid #675956;
	}
	&__all {
		display: block;
		text-align: right;
		padding-top: 30px;
		padding-right: 150px;
		color: $accent;
		text-transform: uppercase;
		font-weight: 300;
		text-decoration: none;
		position: relative;
		transition: color .3s ease-in;
		&:hover, &:focus {
			color: darken($accent, 10%);
			text-decoration: none;
		}
		.fa-angle-right::before {
			position: relative;
			padding-left: 10px;
			font-size: 30px;
			top: 2px;
		}
	}
	&__coffee {
		background: url(../img/cup.png) no-repeat 50%;
		background-size: cover;
	}
}

@media all and (max-width:1200px){
	.firstScreen {
		.h1 {
			font-size: 60px;
		}
		&__slide-3 {
			background-position: 68% 26%;	
		}
	}
	.menu {
		&__text, &__card {
			width: 90%;
		}
		&__coffee {
			background-position: 5% 50%;
		}
	}
}

@media all and (max-width:992px){
	.header {
		.navbar {
			display: inline-block;
			margin-bottom: 15px;
			&-nav {
				text-align: left;
			}
		}
		&__icons {
			text-align: right;
			margin-top: 32px;
		}
		.search {
			&__input {			
				top: 30px;
				left: -120px;
				width: 200px;
			}		
		}
	}
	.services {
		&__product-img {
			background-position: 50%;
			background-size: cover;
			width: 220px;
			height: 220px;
			&::before {
				width: 234px;
				height: 234px;
			}
		}
	}
	.menu {
		&__text {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

@media all and (max-width:768px){
	.header {
		.logo {
			background-size: cover;
			width: 170px;
			height: 170px;
		}
	}
	.firstScreen {
		&__text {
			max-width: auto;
		}
		&__content {
			padding: 160px 10px 190px;
		}
	}
	.services {
		&__product {
			margin: 0 auto 30px;
			max-width: 350px;
		}
	}
	.menu {
		&__item {
			max-width: 450px;
		}
	}
}

@media all and (max-width:576px){
	.header {
		.logo {
			background-size: cover;
			width: 140px;
			height: 140px;
		}
		.search {
			&__input {			
				top: 35px;
				left: -200px;
				width: 200px;
			}		
		}
	}
	.firstScreen {
		.h1 {
			font-size: 50px;
		}
		&__desc {
			font-size: 16px;
			line-height: 1.5;
		}
		&__text {
			margin-right: 20px;
		}
	}
	.menu {
		&__text {
			padding: 70px 0 40px;
		}
		&__buttons {
			flex-direction: column;
			width: 100%;
			.menu__button {
				width: 70%;
				margin: 0 auto 10px;
			}
		}
		&__items {
			padding-left: 0;
			padding-right: 0;
		}
	}
}